.videoSidebar {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.videoSidebar__button {
  padding: 20px;
  text-align: center;
}

.videoSidebar__icon {
  cursor: pointer;
}
